@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Força a tipografia limpa e o contraste absoluto em toda a aplicação */
    html,
    body {
        background-color: #E2E8F0;
        /* Cor de fundo cinza neutro oficial */
        color: #0F172A;
        /* Grafite super escuro para eliminar qualquer letra lavada */
        font-family: 'Plus Jakarta Sans', sans-serif;
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;
    }
}